* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  color: #333;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0; 
  padding: 0;
  min-height: 100vh;
  background-color: #ece284;
}

.container {
  max-width: 1040px;
  margin: 0 auto;
}

.nav {
  border-radius: 10px;
  background-color: #8b6f20;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.nav-link {
  padding: 0 20px;
  font-size: 18px;
  line-height: 50px;
  text-decoration: none;
  color: #fff;
}

.nav-link:hover {
  transition: .3s;
  background-color: #a89766;
  cursor: pointer;
}

.main {

}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.left {
  width: 30%;
  color: #fff;
  border-radius: 10px;
  background-color: #8b6f20;
}

.center {
  width: 5%;
}

.right {
  width: 65%;
  border-radius: 10px;
  /*background-image: url(../assets/img/new-year192.jpg);*/
}

.hr-left {
  width: 100%;
  border: 5px solid #fff;
  border-radius: 5px;
}

.hr-right {
  width: 100%;
  border: 5px solid #8b6f20;
  border-radius: 5px;
}

.section {
  padding: 10px;
}

.myphoto {
  width: 100%;
}

.profile-title {
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}

.profile-text {
  margin: 0;
  padding: 0;
  font-size: 24px;
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
}
.contacts-list {
  list-style: none;
}

.contacts-item {
  font-size: 20px;
  color: #fff;
}

.contacts-item a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}

.footer {
  padding: 10px;
}

.footer-links {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  border-radius: 10px;
  background-color: #8b6f20;
}

.footer-link {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}
